body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo-home {
  background-image: url("/public/fondo-pizza3.jpg");
  height: 15rem;
  color: white;
  text-align: center;
}

.titulo-home h1 {
  padding-top: 4rem;
  font-weight: bold;
  font-size: xxx-large;
}

.titulo-home h6 {
  font-weight: bold;
  font-size: large;
}

.btn-card {
  color: white;
  width: 7rem;
}

.precio-card {
  text-align: center;
  display: block;
  padding-top: 1rem;
  font-size: x-large;
  font-weight: bold;
}

ul {
  list-style: none;
}

.botones-card {
  text-align: center;
}

.card-text {
  font-weight: bold;
}

.card-title {
  font-size: x-large;
}

.card-detalle {
  display: grid;
  grid-template-columns: 50% 50%;
}

.botones-detalle {
  display: flex;
  justify-content: space-between;
}

.titulo-detalle {
  font-size: xx-large;
  font-weight: bold;
}

.detalle-descripcion {
  font-weight: normal;
  font-size: small;
}

.ingredientes-ul {
  font-size: small;
}

.vista-detalle {
  margin: 3%;
  padding-top: 1%;
}

.inactive {
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 15%;
}

.active {
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 15%;
}

.carrito {
  margin: 5rem;
}

.detalle-pedido {
  display: flex;
  align-items: center;
}

.pedido {
  display: flex;
  justify-content: space-between;
}

.carrito-botones {
  display: flex;
  align-items: center;
  width: 17%;
}

.precio-carrito {
  font-size: larger;
  margin-right: 10%;
  color: green;
  font-weight: bold;
}

.carrito-cantidad {
  margin-right: 3%;
  margin-left: 3%;
  font-weight: bold;
}

.span-total {
  display: block;
  margin-top: 2%;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1%;
}

.carrito-nombre-pizza {
  margin-left: 10%;
}

.carrito-card {
  margin-top: 1%;
}

.carrito-titulo {
  margin-bottom: 2%;
  font-size: xx-large;
  font-weight: bold;
}

.div-card-pizzas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.div-card-pizzas-interno {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2%;
  width: 91%;
  justify-items: baseline;
  margin-top: 3%;
}

.detalle-body {
  padding-bottom: 0%;
}

.navbar-titulo {
  margin-left: 3%;
}