body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo-home {
  background-image: url("/public/fondo-pizza3.jpg");
  height: 15rem;
  color: white;
  text-align: center;
}

.titulo-home h1 {
  padding-top: 4rem;
  font-weight: bold;
  font-size: xxx-large;
}

.titulo-home h6 {
  font-weight: bold;
  font-size: large;
}

.btn-card {
  color: white;
  width: 7rem;
}

.precio-card {
  text-align: center;
  display: block;
  padding-top: 1rem;
  font-size: x-large;
  font-weight: bold;
}

ul {
  list-style: none;
}

.botones-card {
  text-align: center;
}

.card-text {
  font-weight: bold;
}

.card-title {
  font-size: x-large;
}

.card-detalle {
  display: grid;
  grid-template-columns: 50% 50%;
}

.botones-detalle {
  display: flex;
  justify-content: space-between;
}